apiVersion: v1
kind: Service
metadata:
  name: learningsteps-api
  labels:
    app: learningsteps-api
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/metrics"
    prometheus.io/port: "8000"
spec:
  type: LoadBalancer
  selector:
    app: learningsteps-api
  ports:
  - name: http
    port: 80
    targetPort: 8000
    protocol: TCP
  sessionAffinity: None
